{% extends 'admin/hoofdpagina.html.twig' %}
{% block body %}
    <div class="container">
        {% for msg in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
        {% if registraties is not empty %}
        <h5 style="color: red">Lesoverzicht van {{ registraties[0].member.person.fullname }}</h5>
        {% endif %}
        {% if registraties is empty %}
            <h4 style="color: red">Dit lid heeft geen zich niet ingeschreven op les(sen)</h4>
        {% endif %}
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda consectetur deleniti dicta
                dolorem eveniet fuga inventore, iste libero minima nemo obcaecati optio, quam quis recusandae reiciendis
                saepe sit veniam?</p>
            <div class="row">
{#                <a href="{{ path("app_admin_leden_create") }}"><button class="btn btn-secondary">Nieuw lid</button></a>#}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Tijd</th>
                        <th scope="col">Lokaal</th>
                        <th scope="col">Sport</th>
                        <th scope="col">Aantal ingeschreven deelnemers</th>
                        <th scope="col">Deelnemerslijst</th>
{#                        <th scope="col">Aanpassen</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for registratie in registraties %}
                        <tr>
                            <td scope="row">{{ registratie.lesson.id }}</td>
                            <td>{{ registratie.lesson.date.format('d-m-Y') }}</td>
                            <td>{{ registratie.lesson.time.format("H:i") }}</td>
                            <td>{{ registratie.lesson.location }}</td>
                            <td>{{ registratie.lesson.getTraining.naam }}</td>
                            <td>{{ registratie.lesson.getRegistrations|length}}</td>
                            <td><a href="#">
                                    <button class="btn btn-secondary">Inzien</button>
                                </a></td>
{#                            <td><a href="#">#}
{#                                    <button class="btn btn-warning">Aanpassen</button>#}
{#                                </a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}